## main requirements
django==1.3
tornado
suds
-e git+https://github.com/carljm/django-model-utils.git#egg=django-model-utils
-e git+https://github.com/limist/py-moneyed.git#egg=py-moneyed
-e git+https://github.com/rancavil/tornado-webservices.git#egg=tornado-webservices
-e git+https://github.com/RANUX/simptools#egg=simptools
-e git+https://github.com/RANUX/django-simptools#egg=django-simptools

## test requirements
-e git+https://github.com/nose-devs/nose.git#egg=nose
-e git+https://github.com/pydevua/django-testrecorder#egg=django-testrecorder
django-debug-toolbar
django-nose
mock
coverage
